name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 6
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4
    
    - uses: pnpm/action-setup@v3
      with:
        version: 10

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'

    - name: Cache MongoDB Binary
      uses: actions/cache@v4
      with:
        path: ~/.cache/mongodb-binaries
        key: mongodb-binaries-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
        restore-keys: |
          mongodb-binaries-${{ runner.os }}-

    - name: Install dependencies
      run: pnpm install --frozen-lockfile
      timeout-minutes: 2
      
    - name: Build packages
      run: pnpm run build
      timeout-minutes: 3

    - name: Run tests
      run: pnpm run test
      timeout-minutes: 5
